@font-face {
  font-family: "HKGrotesk";
  src: url(../fonts/HKGrotesk-Regular.eot);
  src: url(../fonts/HKGrotesk-Regular.woff) format("woff"); }

body {
  overflow-x: hidden;
  font-family: "HKGrotesk", "proxima-nova", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  font-size: 100%; }
  @media screen and (min-width: 768px) {
    body {
      align-items: center;
      display: flex;
      justify-content: center; } }

* {
  box-sizing: border-box; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.content-wrapper {
  min-height: calc(100vh);
  padding-top: 1rem; }

.currencies .currency::after {
  content: "";
  clear: both;
  display: table; }

.loader {
  width: 100%;
  text-align: center; }

#app {
  display: block;
  height: 100vh;
  position: relative;
  width: 100vw;
  overflow-x: hidden; }
  @media screen and (min-width: 768px) {
    #app {
      height: 90vh;
      width: 31.25rem; } }
  #app #loader-wrapper {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px; }
    #app #loader-wrapper > svg {
      height: 100px;
      width: 100px; }
      #app #loader-wrapper > svg circle {
        stroke: #FF5354; }
  #app #flash-wrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    -webkit-transform: translate(500%, 0);
    -moz-transform: translate(500%, 0);
    -ms-transform: translate(500%, 0);
    -o-transform: translate(500%, 0);
    transform: translate(500%, 0);
    left: 0;
    margin: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.6s ease-in-out;
    z-index: 29; }
    #app #flash-wrapper:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  #app #converter-root {
    background-color: #fff;
    display: block;
    height: 100%;
    width: 100%; }
  #app #currencies-root {
    background-color: #fff;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: width 0.3s ease-in-out;
    width: 0;
    z-index: 19; }
  #app #sidebar-root {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #fff;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.3s ease-in-out;
    width: 0;
    z-index: 29; }
    #app #sidebar-root:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.currencies {
  padding: 0 1.875rem; }
  .currencies-wrapper {
    background-color: #fff; }
    .currencies-wrapper img {
      width: 1.5rem;
      height: 1.5rem; }
    .currencies-wrapper a {
      cursor: pointer; }
  .currencies-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #FCF9FA;
    color: #FFBBBC;
    padding: 1rem 1.875rem;
    transition: height 0.3s ease-in-out; }
    .currencies-header:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
    .currencies-header-container {
      align-items: center;
      display: flex;
      font-size: 1rem;
      justify-content: space-between; }
    .currencies-header img {
      vertical-align: middle; }
  .currencies-search {
    color: #FF5354;
    border: none;
    background: transparent;
    flex: 1;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.125rem; }
    .currencies-search:focus, .currencies-search:active {
      outline: none; }
  .currencies .currency {
    border-bottom: 0.0625rem solid #FED2D3;
    cursor: pointer;
    padding: 1rem 0;
    text-indent: 0; }
    .currencies .currency-name {
      color: #FF5354;
      font-size: 1.25rem;
      font-weight: 500;
      padding-right: 0.25rem; }
    .currencies .currency-code {
      color: #FFBBBC;
      font-size: 0.875rem;
      font-weight: 600;
      letter-spacing: 0.125rem;
      text-transform: uppercase; }
    .currencies .currency-tick {
      float: right; }

.converter {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center; }
  .converter-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0; }
    .converter-box:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
    .converter-box:first-child {
      padding-bottom: 3.125rem; }
    .converter-box:last-child {
      padding-top: 3.125rem; }
  .converter-from {
    background-color: #FF5354;
    color: #fff;
    flex: 1;
    width: 100%; }
  .converter-to {
    background-color: #fff;
    color: #FF5354;
    flex: 1;
    width: 100%; }
  .converter-send {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #fff;
    border: 0.5rem solid #FF5354;
    border-radius: 31.25rem;
    height: 6.25rem;
    width: 6.25rem;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3.125rem;
    margin-left: -3.125rem;
    cursor: pointer; }
    .converter-send:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
    .converter-send > div {
      position: relative;
      height: 100%;
      width: 100%; }
      .converter-send > div > * {
        opacity: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease-in-out;
        height: 3.125rem;
        width: 3.125rem; }
      .converter-send > div > div {
        opacity: 0;
        text-align: center; }
        .converter-send > div > div svg {
          width: 3.125rem;
          height: 3.125rem; }
          .converter-send > div > div svg circle {
            stroke: #FF5354; }
    .converter-send:hover, .converter-send:focus, .converter-send:active {
      background-color: #F9E0E1;
      outline: none; }
  .converter-currency-name {
    cursor: pointer;
    font-size: 1.875rem;
    font-weight: 500; }
    .converter-currency-name:hover, .converter-currency-name:focus, .converter-currency-name:active {
      color: #FFA5A6;
      outline: none; }
  .converter-currency-value {
    position: relative; }
    .converter-currency-value span:first-child {
      font-size: 5rem;
      line-height: 5rem;
      font-weight: 500;
      display: inline-block;
      white-space: nowrap;
      max-width: 75vw;
      overflow-x: scroll;
      overflow-y: hidden; }
    .converter-currency-value span:last-child {
      position: absolute;
      right: -1.25rem;
      bottom: 0.9375rem;
      color: #FFBBBC;
      font-size: 1.5rem;
      font-weight: 400;
      max-width: 1.25rem; }
    .converter-currency-value span:focus {
      outline: none; }
  .converter-currency-id {
    color: #FFBBBC;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.125rem; }

.hamburger {
  height: 1.5rem;
  width: 1.5rem; }
  .hamburger-wrapper {
    display: none;
    position: absolute;
    top: 1.5625rem;
    left: 1.5625rem;
    z-index: 9; }

.sidebar {
  padding: 0 1.25rem; }
  .sidebar-wrapper {
    background-color: #fff; }
    .sidebar-wrapper img {
      width: 1.5rem;
      height: 1.5rem; }
    .sidebar-wrapper a {
      cursor: pointer; }
  .sidebar-header {
    background-color: #FCF9FA;
    color: #FFBBBC;
    padding: 1rem 1.25rem;
    transition: height 0.3s ease-in-out; }
    .sidebar-header-container {
      align-items: center;
      display: flex;
      font-size: 1rem;
      justify-content: space-between; }
    .sidebar-header img {
      vertical-align: middle; }

.flash {
  background-color: #FCF9FA;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative; }
  .flash-message {
    color: #FF5354;
    border: none;
    background: transparent;
    flex: 1;
    font-size: 1.125rem;
    font-weight: 300;
    margin-right: 0.5rem; }
  .flash a {
    align-self: flex-start;
    cursor: pointer;
    height: 1.125rem;
    width: 1.125rem; }
    .flash a img {
      height: 1.125rem;
      vertical-align: middle;
      width: 1.125rem; }
  .flash--success .flash-title,
  .flash--success .flash-dismiss {
    color: #7DB1A3; }
  .flash--error .flash-title,
  .flash--error .flash-dismiss {
    color: #FFA5A6; }

