@font-face {
  font-family: "HKGrotesk";
  src: url(../fonts/HKGrotesk-Regular.eot);
  src: url(../fonts/HKGrotesk-Regular.woff) format("woff"); }

body {
  overflow-x: hidden;
  font-family: "HKGrotesk", "proxima-nova", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative; }

* {
  box-sizing: border-box; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.content-wrapper {
  min-height: calc(100vh);
  padding-top: 1rem; }

.currencies .currency::after {
  content: "";
  clear: both;
  display: table; }

.loader {
  width: 100%;
  text-align: center; }

#app {
  display: block;
  width: 100%;
  height: 100%; }
  #app #loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px; }
    #app #loader > svg {
      width: 200px;
      height: 200px; }
      #app #loader > svg circle {
        stroke: #FF5354; }
  #app #converter-root {
    display: block;
    height: 100vh;
    background-color: #fff; }
  #app #currencies-root {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: width 0.3s ease-in-out; }

.currencies-wrapper {
  background-color: #fff;
  padding: 0.625rem 4.375rem; }

.currencies-header {
  color: #FFBBBC;
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem; }

.currencies .currency {
  border-bottom: 0.0625rem solid #FFBBBC;
  padding: 2rem 0;
  text-indent: 0;
  list-style-type: 0; }
  .currencies .currency-name {
    color: #FF5354;
    font-size: 2rem;
    font-weight: 600;
    padding-right: 0.25rem; }
  .currencies .currency-code {
    color: #FFBBBC;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase; }
  .currencies .currency-tick {
    width: 3rem;
    height: 3rem;
    float: right; }

.converter {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center; }
  .converter-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0; }
    .converter-box:first-child {
      padding-bottom: 11.25rem; }
    .converter-box:last-child {
      padding-top: 11.25rem; }
  .converter-from {
    background-color: #FF5354;
    color: #fff;
    flex: 1;
    width: 100%; }
  .converter-to {
    background-color: #fff;
    color: #FF5354;
    flex: 1;
    width: 100%; }
  .converter-send {
    background-color: #fff;
    border: 1.5rem solid #FF5354;
    border-radius: 31.25rem;
    height: 17.5rem;
    width: 17.5rem;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8.75rem;
    margin-left: -8.75rem;
    cursor: pointer; }
    .converter-send > * {
      position: absolute;
      opacity: 1;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.3s ease-in-out; }
    .converter-send > img {
      height: 7.5rem;
      width: 7.5rem; }
    .converter-send > div {
      opacity: 0;
      text-align: center; }
      .converter-send > div svg {
        width: 120px;
        height: 120px; }
        .converter-send > div svg circle {
          stroke: #FF5354; }
    .converter-send:hover, .converter-send:focus, .converter-send:active {
      background-color: #FFA5A6;
      outline: none; }
  .converter-currency-name {
    cursor: pointer;
    font-size: 5rem;
    font-weight: 500; }
    .converter-currency-name:hover, .converter-currency-name:focus, .converter-currency-name:active {
      color: #FFA5A6;
      outline: none; }
  .converter-currency-value {
    position: relative; }
    .converter-currency-value span:first-child {
      font-size: 12.5rem;
      line-height: 12.5rem;
      font-weight: 600;
      display: inline-block;
      white-space: nowrap;
      max-width: 75vw;
      overflow-x: scroll;
      overflow-y: visible; }
    .converter-currency-value span:last-child {
      position: absolute;
      right: -2.5rem;
      bottom: 1.875rem;
      color: #FFBBBC;
      font-size: 3rem;
      font-weight: 600;
      max-width: 1.25rem; }
    .converter-currency-value span:focus {
      outline: none; }
  .converter-currency-id {
    color: #FFBBBC;
    font-size: 3rem;
    font-weight: 500; }

