$zIndex-minus-one: -9;
$zIndex-one: 19;
$zIndex-two: 29;

#app {
    display: block;
    height: 100vh;
    position: relative;
    width: 100vw;
    overflow-x: hidden;

    @include media-tablet-up {
        height: 90vh;
        width: rem(500px);
    }

    #loader-wrapper {
        background-color: $white;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -50px;
        margin-left: -50px;

        > svg {
            height: 100px;
            width: 100px;

            circle {
                stroke: $radical-red;
            }
        }
    }

    #flash-wrapper {
        @include card;
        @include transform(translate(500%, 0));
        left: 0;
        margin: rem(8px);
        position: absolute;
        right: 0;
        top: 0;
        transition: transform 0.6s ease-in-out;
        z-index: $zIndex-two;
    }

    #converter-root {
        background-color: $white;
        display: block;
        height: 100%;
        width: 100%;
    }

    #currencies-root {
        background-color: $white;
        height: 100%;
        overflow-x: hidden;
        position: absolute;
        right: 0;
        top: 0;
        transition: width 0.3s ease-in-out;
        width: 0;
        z-index: $zIndex-one;
    }

    #sidebar-root {
        height: 100%;
        left: 0;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: $zIndex-minus-one;
    }
}
