.currencies {
    padding: rem(0 30px);

    &-wrapper {
        background-color: $white;

        img {
            width: rem(24px);
            height: rem(24px);
        }

        a {
            cursor: pointer;
        }
    }

    &-header {
        @include card;
        color: $azalea;
        transition: height 0.3s ease-in-out;

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: rem(16px);
            padding: rem(16px 30px);
            line-height: rem(24px);
        }

        a {
            vertical-align: middle;
        }
    }

    &-search {
        &-wrapper {
            @include card;
            color: $azalea;
            background-color: $lavender-blush;
            font-size: rem(16px);
            transition: height 0.3s ease-in-out;
        }

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: rem(16px 30px);
        }

        color: $radical-red;
        border: none;
        background: transparent;
        flex: 1;
        line-height: rem(24px);
        font-size: rem(24px);
        font-weight: 300;

        &:focus,
        &:active {
            outline: none;
        }

        a {
            vertical-align: middle;
        }
    }

    .currency {
        @extend %clearfix;
        border-bottom: rem(1px) solid $we-peep;
        padding: rem(16px) 0;
        text-indent: 0;
        cursor: pointer;

        &-name {
            color: $radical-red;
            font-size: rem(20px);
            font-weight: 500;
            padding-right: rem(4px);
        }

        &-code {
            color: $azalea;
            font-size: rem(14px);
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: rem(2px)
        }

        &-tick {
            float: right;
        }
    }
}
