// App Theme
$lavender-blush: #FCF9FA;
$radical-red: #FF5354;
$pale-pink: #F9E0E1;
$wewak: #FFA5A6;
$azalea: #FFBBBC;
$we-peep: #FED2D3;

$white: #fff;
$custom-red: #FF5354;
$success: #4F9582;
$success-text: #7DB1A3;
$grey-text: #A8A8A8;
