<div class="currencies-wrapper">
    <div id="currencies-header" class="currencies-header">
        <div id="currencies-header-search" class="currencies-header-container">
            <input id="currencies-search" class="currencies-search" />
            <a>
                <img id="currency-search-close-icon" src="images/close.svg">
            </a>
        </div>
        <div id="currencies-header-default" class="currencies-header-container">
            <a>
                <img id="currency-back-icon" src="images/arrow-left.svg">
            </a>
            <a>
                <img id="currency-search-icon" src="images/search.svg">
            </a>
        </div>
    </div>
    <div id="currencies-list-wrapper">
        {{> currencies }}
    </div>
</div>
