<div class="sidebar-wrapper">
    <div id="sidebar-overlay" class="sidebar-overlay"></div>
    <div id="sidebar-main" class="sidebar-main">
        <div id="sidebar-header" class="sidebar-header">
            <div id="sidebar-header-default" class="sidebar-header-container">
                <h4 class="sidebar-header-title">Currency Converter</h4>
                <a>
                    <img id="sidebar-close-icon" src="images/close-light.svg">
                </a>
            </div>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-content-list">
                <li id="sidebar-menu-switch">
                    <img src="images/switch.svg">
                    <span>Flip Currencies</span>
                </li>
                <li>
                    <img src="images/swap.svg">
                    <span>Flip Currencies</span>
                </li>
            </ul>
        </div>
        <div id="sidebar-footer" class="sidebar-footer">
            <ul class="sidebar-footer-list">
                <li>
                    <a>
                        <img id="sidebar-close-icon" src="images/share.svg">
                        <span>Share</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img id="sidebar-close-icon" src="images/github.svg">
                        <span>Fork</span>
                    </a>
                </li>
                <li>
                    <span>
                        Made with <img src="images/love.svg"> by <a>Lon</a> 🇳🇬
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
