<div class="sidebar-wrapper">
    <div id="sidebar-header" class="sidebar-header">
        <div id="sidebar-header-default" class="sidebar-header-container">
            <a>
                <img id="sidebar-close-icon" src="images/close.svg">
            </a>
        </div>
    </div>
</div>
