<div class="sidebar-wrapper">
    <div id="sidebar-overlay" class="sidebar-overlay"></div>
    <div id="sidebar-main" class="sidebar-main">
        <div id="sidebar-header" class="sidebar-header">
            <div id="sidebar-header-default" class="sidebar-header-container">
                <a>
                    <img id="sidebar-close-icon" src="images/close.svg">
                </a>
                <h4 class="sidebar-header-title">Currency Converter</h4>
            </div>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-footer-list">
                <li>
                    <a>Flip Currencies</a>
                </li>
                <li>
                    <a>Flip Currencies</a>
                </li>
            </ul>
        </div>
        <div id="sidebar-footer" class="sidebar-footer">
            <ul class="sidebar-footer-list">
                <li>
                    <a>Share</a>
                </li>
                <li>
                    <a>Fork</a>
                </li>
                <li>
                    <a>Made with Love by Lon</a>
                </li>
            </ul>
        </div>
    </div>
</div>
