<div class="sidebar-wrapper">
    <div id="sidebar-overlay" class="sidebar-overlay"></div>
    <div id="sidebar-main" class="sidebar-main">
        <div id="sidebar-header" class="sidebar-header">
            <div id="sidebar-header-default" class="sidebar-header-container">
                <h4 class="sidebar-header-title">Currency Converter</h4>
                <a>
                    <img id="sidebar-close-icon" src="images/close-light.svg">
                </a>
            </div>
        </div>
        <div class="sidebar-content">
            <div class="sidebar-content-list">
                <a id="sidebar-menu-swap">
                    <img src="images/swap.svg">
                    <span>Flip Currencies</span>
                </a>
                <a id="sidebar-menu-reset-app-data">
                    <img src="images/reset.svg">
                    <span>Reset App Data</span>
                </a>
                <a id="sidebar-menu-reload-app">
                    <img src="images/reload.svg">
                    <span>Reload App</span>
                </a>
            </div>
        </div>
        <div id="sidebar-footer" class="sidebar-footer">
            <div class="sidebar-footer-list">
                <a href="https://twitter.com/share?url=https://github.com/lon-io/currency-converter-pwa&amp;text=Currency%20Converter%20PWA&amp;hashtags=pwa,alc,udacity"
                    target="_blank">
                    <img id="sidebar-close-icon" src="images/share.svg">
                    <span>Share</span>
                </a>
                <a href="https://github.com/lon-io/currency-converter-pwa" target="_blank">
                    <img id="sidebar-close-icon" src="images/github.svg">
                    <span>Fork</span>
                </a>
            </div>
            <div class="sidebar-footer-author">
                Made with
                <img src="images/love.svg"> by
                <a id="author-link" href="https://github.com/lon-io" target="_blank">Lon Ilesanmi</a>
                <img src="images/nigeria.svg">
            </div>
        </div>
    </div>
</div>
