$baseName: 'flash';

.flash {
    background-color: $lavender-blush;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: rem(16px);
    position: relative;

    &-message {
        color: $radical-red;
        border: none;
        background: transparent;
        flex: 1;
        font-size: rem(18px);
        font-weight: 300;
        margin-right: rem(8px);
    }

    a {
        align-self: flex-start;
        cursor: pointer;

        height: rem(18px);
        width: rem(18px);

        img {
            height: rem(18px);
            vertical-align: middle;
            width: rem(18px);
        }
    }

    &--success {
        .#{$baseName}-title,
        .#{$baseName}-dismiss {
            color: $success-text;
        }
    }

    &--error {
        .#{$baseName}-title,
        .#{$baseName}-dismiss {
            color: $wewak;
        }
    }
}
