.converter {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;

    &-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: rem(80px 0);

        &:first-child {
            padding-bottom: rem(180px);
        }

        &:last-child {
            padding-top: rem(180px);
        }
    }

    &-from {
        background-color: $radical-red;
        color: $white;
        flex: 1;
        width: 100%;
    }

    &-to {
        background-color: $white;
        color: $radical-red;
        flex: 1;
        width: 100%;
    }

    &-send {
        background-color: $white;
        border: rem(24px) solid $radical-red;
        border-radius: rem(500px);
        height: rem(280px);
        width: rem(280px);
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: rem(-140px);
        margin-left: rem(-140px);

        > img {
            height: rem(120px);
            width: rem(120px);
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        &:focus {
            background-color: $wewak;
        }
    }

    &-currency {
        &-name {
            font-size: rem(80px);
            font-weight: 500;
        }

        &-value {
            span {
                &:first-child {
                    font-size: rem(200px);
                    line-height: rem(200px);
                    font-weight: 600;
                    display: inline-block;
                    white-space: nowrap;
                }

                &:last-child {
                    color: $azalea;
                    font-size: rem(48px);
                    font-weight: 600;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        &-id {
            color: $azalea;
            font-size: rem(48px);
            font-weight: 500;
        }
    }
}
