.currencies {
    &-wrapper {
        background-color: $white;
        padding: rem-value(10 70);
    }

    .currency {
        @extend %clearfix;
        border-bottom: rem-value(1) solid $azalea;
        padding: rem-value(32) 0;
        list-style: none;

        &-name {
            color: $radical-red;
            font-size: rem-value(32);
            font-weight: 600;
            padding-right: rem-value(4);
        }

        &-code {
            color: $azalea;
            font-size: rem-value(14);
            font-weight: 500;
            text-transform: uppercase;
        }

        &-tick {
            width: rem-value(48);
            height: rem-value(48);
            float: right;
        }
    }
}
