<div>
    <form>
        <div>
            <label>From</label>
            <select>
                {{!-- Todo: Loop through currencies --}}
                <options></options>
            </select>
        </div>
        <div>
            <label>Value</label>
            <input />
        </div>
        <div>
            <label>To</label>
            <select>
                <options></options>
            </select>
        </div>
        <button type="submit">GO</button>
    </form>
        <div>
            {{!-- Todo: Display Results --}}
        </div>
</div>
