<div class="currencies-wrapper">
    <div class="currencies-header">
        <a>Back</a>
        <a>Search</a>
    </div>
    <ul id="currencies" class="currencies">
        {{#each currencies as |currency|}}
            <li class="currency">
                <span class="currency-name">{{currency.currencyName}}</span>
                <span class="currency-code">{{currency.id}}</span>
                {{#if currency.isSelected }}
                    <img class="currency-tick" src="/images/tick.svg">
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
