<div class="currencies-wrapper">
    <ul class="currencies">
        {{#each currencies as |currency|}}
            <li class="currency">
                <span class="currency-name">{{currency.currencyName}}</span>
                <span class="currency-code">{{currency.id}}</span>
                {{#if currency.isSelected }}
                    <img class="currency-tick" src="/images/tick.svg">
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
