<div class="flash flash--{{type}}">
    <span class="flash-message">
        {{message}}
    </span>
    <a class="flash-dismiss" id="flash-dismiss">
        <img src="images/close.svg">
    </a>
</div>
